

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed{
            text-decoration: line-through;
            opacity: 0.6;

        }
    </style>
        <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <select v-model='status' @change='todosByStatus'>
            <option value="all">전체보기</option>
            <option value="active">할일</option>
            <option value="completed">한일</option>



        </select>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <li v-for='(todo, index) in todosByStatus()' v-bind:class="{completed: todo.completed}" v-bind:key="todo.id">
            <input type="checkbox" v-model="todo.completed" @change='updateTodo(todo)'>
            {{todo.content}}
            <button v-show='todo.completed' @click='remove(index)'>삭제</button>
        </li>
    </div>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script> -->
    <script>
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        var config = {
            apiKey: "AIzaSyCfu08jEMwgTKsRlDiiWWbCHQRcFeOXTnQ",
            databaseURL: "https://mytodo-3098f.firebaseio.com",
            projectId: "mytodo-3098f",
        };
        firebase.initializeApp(config);

        const database = firebase.database()

        const app = new Vue({
            el:"#app",
            data:{
                title:'MyToDo',
                // todos:todoStorage.fetch(),
                newTodo:'',
                status:'all',

            },
            firebase:{
                todos: database.ref('todos')
            },
            methods:{
                addTodo:function(){
                    this.$firebaseRefs.todos.push(
                        {id:Date.now(),content:this.newTodo, completed:false}
                    )
                    this.newTodo = ''
                },
                remove:function(key){
                    this.todos.splice(key,1);
                },
                todosByStatus:function(){
                    if(this.status == 'active'){
                        return this.todos.filter((todo)=>{
                            return !todo.completed
                        })
                    }else if(this.status == 'completed'){
                        return this.todos.filter((todo)=>{
                            return todo.completed
                        })
                    }else {
                        return this.todos
                    }
                },
                updateTodo:function(todo){
                    const editTodo = {...todo}
                    delete editTodo['.key']
                    this.$firebaseRefs.todos.child(todo['.key']).set(editTodo)
                }
            },
            watch:{
                todos:{
                    handler:function(todos){
                    todoStorage.save(todos)
                    },
                    deep:true
                }
            }   
        })
    </script>
</body>
</html>
